.App{
  min-height: 100vh;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.success{
  width: 50%;
  border: none;
  padding: 10px;
  width: 600px;
}

.success:focus{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-button{
  background: teal;
  border: none;
  padding: 10px 20px;
  color: white;
}

.search-button:hover{
  cursor: pointer;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.error{
  width: 600px;
  border: 2px solid red;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.error:focus{
  outline: none
}

